[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
attrs = "*"
"path.py" = "*"
python-cli-ui = "*"
schema = "*"
toml = "*"

[dev-packages]
scandir = { version = "*", markers="python_version <= '3.4'" }
pathlib2 = { version = "*", markers="python_version <= '3.5'" }
pytest = "*"
pytest-sugar = "*"
pytest-mock = "*"
pytest-cov = "*"
twine = "*"
wheel = "*"
mypy = "*"
typing = "*"
"flake8" = "*"
