[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
attrs = "*"
"path.py" = "*"
python-cli-ui = "*"
schema = "*"
toml = "*"

[dev-packages]
pytest = "*"
pytest-sugar = "*"
pytest-mock = "*"
pytest-cov = "*"
pyflakes = "*"
pycodestyle = "*"
twine = "*"
wheel = "*"
mypy = "*"
typing = "*"
mccabe = "*"
pylint = "*"
